.icon-ambulance-star { background-image: url('png/ambulance-star.png'); background-repeat: no-repeat; }

.icon-arrows { background-image: url('png/arrows.png'); background-repeat: no-repeat; }

.icon-barbell { background-image: url('png/barbell.png'); background-repeat: no-repeat; }

.icon-books { background-image: url('png/books.png'); background-repeat: no-repeat; }

.icon-brain { background-image: url('png/brain.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

.icon-chat-bubbles { background-image: url('png/chat-bubbles.png'); background-repeat: no-repeat; }

.icon-check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon-compass { background-image: url('png/compass.png'); background-repeat: no-repeat; }

.icon-cycling { background-image: url('png/cycling.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-figure-hunch { background-image: url('png/figure-hunch.png'); background-repeat: no-repeat; }

.icon-figure-lift { background-image: url('png/figure-lift.png'); background-repeat: no-repeat; }

.icon-figure-massage { background-image: url('png/figure-massage.png'); background-repeat: no-repeat; }

.icon-figure-pain { background-image: url('png/figure-pain.png'); background-repeat: no-repeat; }

.icon-figure-run { background-image: url('png/figure-run.png'); background-repeat: no-repeat; }

.icon-figure-stretch { background-image: url('png/figure-stretch.png'); background-repeat: no-repeat; }

.icon-group { background-image: url('png/group.png'); background-repeat: no-repeat; }

.icon-handshake { background-image: url('png/handshake.png'); background-repeat: no-repeat; }

.icon-heart-beat { background-image: url('png/heart-beat.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('png/map.png'); background-repeat: no-repeat; }

.icon-med-symbol { background-image: url('png/med-symbol.png'); background-repeat: no-repeat; }

.icon-molecules { background-image: url('png/molecules.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-plus-circle { background-image: url('png/plus-circle.png'); background-repeat: no-repeat; }

.icon-plus-square { background-image: url('png/plus-square.png'); background-repeat: no-repeat; }

.icon-pulse { background-image: url('png/pulse.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-target { background-image: url('png/target.png'); background-repeat: no-repeat; }

.icon-write { background-image: url('png/write.png'); background-repeat: no-repeat; }

