// Grid settings
// -------------------------

$grid-columns:          12;
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;



// Brand colors
// -------------------------

$brand-primary:         #27ae60;
$logo-blue:				#007bb1;
$dark-blue:				#091421;
$grey:					#3b3b3b;
$offwhite:				#fbfaf6;
$transparent-white:		rgba(255, 255, 255, 0.4);
$transparent-black:		rgba(0, 0, 0, 0.5);

// Other stuff
// -------------------------
$border-radius:			5px;

// Glyphicons path
// -------------------------

$icon-font-path:        "../vendor/bootstrap-sass-official/assets/fonts/";
