body {
	background: $dark-blue;
	color: $grey;
}
div.bg.parallax-window  {
	min-height: 950px;
	position: absolute;
	z-index: -1;
	top:0px;
	width: 100%;
	background-size: cover;
}
// Content wrapper
.wrap {
	&.container {
		background: $transparent-white;
		margin-top: 10em;
		border-radius: $border-radius;

		.navbar {
			margin-bottom: 0px;
		}
	}
}
.row {
	&.lighter { background: $transparent-white; }
	&.white { background: $offwhite; }
	&.darker { background: $transparent-black; color: $offwhite; }
	&.grey { background: $grey; color: $offwhite; }
	&.content-container { padding: 15px 30px;}
}

// Main content area
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
