.the-page-header {
	padding-top: 1em;
	img {
		max-width: 90%;
	}
	.header-widgets {
		padding: 1em 0;
	}
}

header.navbar.navbar-inverse {
	background: $transparent-black;
	border-radius: $border-radius $border-radius 0 0;
	ul {
		li {
			a {
				padding: 1.5em 2em;
			}
		}
	}
}